<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyr.qs.mapper.AnswerSurveyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyr.qs.entity.AnswerSurvey">
        <id column="id" property="id" />
        <result column="phone" property="phone" />
        <result column="survey_id" property="surveyId" />
        <result column="visibility" property="visibility" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, phone, survey_id, visibility, create_time
    </sql>

</mapper>
